body {
    background-image: url("img/paradise.jpg");
    background-color: #cccccc;
    background-position: center;
    height: 1780px;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family:"Nicomedia";
    text-align: center;
    color: white;
    font-size: 50;
}

.content-box {
    background: rgba(255,255,255,.2);
    width: 800px;
    padding: 30px;
    margin: auto;
    float: center;
    color: white;

}

img {
    border: 3px solid rgba(255,255,255,.8);
}

p {
    margin: 30px;
    font-size: 19px;
}
